<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">URL Shortener</a>
    </nav>
    <div class="container">
        <h1 class="mt-5 text-center">Simple URL Shortener</h1>
        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="long_url">Enter a URL to shorten:</label>
                <input type="text" class="form-control" id="long_url" name="long_url" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Shorten URL</button>
        </form>
        <div class="mt-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <h2>Recent Shortened URLs</h2>
            <ul class="list-group">
                {% for url in urls %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <a href="{{ url.short_url }}" class="short-url">{{ request.url_root }}{{ url.short_url }}</a>
                            <span class="badge badge-secondary">{{ url.long_url }}</span>
                        </div>
                        <span class="badge badge-primary badge-pill">{{ url.clicks }} clicks</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
